<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL.Properties.Settings.ProyectoConnectionString"
            connectionString="Data Source=FAMILIAMONTEROD\SQLEXPRESS;Initial Catalog=Proyecto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>